[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
loguru = "*"
aiohttp = "*"
databases = {extras = ["sqlite"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
numpy = "*"

[dev-packages]
watchdog = "*"
pyyaml = "*"
argh = "*"

[requires]
python_version = "3.8"
